mixin menu(title, path)
  li(class=page.url == path ? 'active' : '')
    a(href=path)= title

mixin search(title)
  form#cse-search-box(class=attributes.class, action='/search.html', role='search')
    input(name='cx', type='hidden', value='003181222941417911505:gkvhcekze7e')
    input(name='ie', type='hidden', value='FORID:10')
    input(name='ie', type='hidden', value='UTF-8')
    .input-group
      input#cse-search-input-box-id.form-control.search-query(name='q', type='text')
      span.input-group-btn
        button.btn.btn-default(name='sa', type='submit', value=title)
          span.glyphicon.glyphicon-search
