.sf-back-to-top {
    background-color: #363636; /* button color */
    color: #fff; /* text/arrow color */ 
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* size of button is 50 pixels*/
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    /* round button */
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.8;
    padding-left: 2px;
    padding-top: 4px;    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.sf-back-to-top:hover {
    color: #363636; /* button color */
    background-color: white; /* text/arrow color */ 
    text-decoration: none;
    cursor: pointer;
}
