extends layout

block prepend title
  | Page not found - 

block content
  section#page
    header.page-header
      h1 Error 404
    .hero-unit
      h2 Page not found
      p
        | Sorry, but the page you are looking for has not been found.
        | Try checking the URL for errors, then hit the refresh button
        | in your browser.
