extends layout

block prepend title
  | #{page.title} - 

block header
  h1 #{page.title}
  p.lead
    | Short guides on how to use resources used by the chapter

block content
  - var aspects = _.chain(contents["chapter-resources-guide"]._.directories).map(function(item) {
  -   return item.index
  - }).compact().sortBy(function(item) {
  -   return item.metadata.order
  - }).value()

  :markdown
    The ACM Student Chapter uses different resources to share files, get in
    contact with each other, and organize tasks. In order to become a part
    of the organizing committee you need to have access to these sources and
    understand how to use them.

    Below you will find short guides on specific services that we use.

  article
    #accordian.panel-group
      each aspect, index in aspects
        .panel.panel-default
          .panel-heading
            a(data-toggle="collapse", data-parent="#accordian", href="#article" + index)
              span.glyphicon.glyphicon-plus
              = aspect.title
          div(id="article" + index).collapse
            .panel-body
              !{ typogr(aspect.html).typogrify() }
