extends layout

block header
  h1 Be part of a community. Be a contributor.
  p.lead
    | Being a researcher means to know how to inspire, how to
    | share ideas, how to create and grow a community, how to
    | contribute. Imperial College London ACM Student Chapter is a great opportunity
    | to create and grow a community together, gaining research
    | skills on the way and learning from each other. The many
    | organisation activities will help you to develop and
    | demonstrate leadership capabilities.

block content
  section.events
    h2 Imperial College London ACM Student Chapter
    p.lead
    .row
      .col-lg-12
        p
          | Through all the events you will get to know the other postgraduate students in the department and their research interests. You can find students working on similar problems, with similar interests. You can find future collaborators, discuss ideas and get feedback. In addition, activities of the student chapter provide opportunities to meet distinguished computing professionals and grow your professional network. You will broaden your knowledge by taking part in lectures and discussions from different computer science fields.
    .row
      .col-lg-4
        img.img-responsive(src='/img/workshops.jpg')
        h3 Workshops
        p
          | Purely student-run events for research students from all over the world to
          | share and discuss their research in computer science. The workshop
          | is unique in that submitting authors get the experience of reviewing
          | other students’ papers, providing them with a foretaste of being in
          | the program committee of a conference. It is a great opportunity to learn about
          | everything that is involved in the organization of a
          | conference.
        p
          a.btn.btn-default(href='/workshops/') Learn more »
      .col-lg-4
        img.img-responsive(src='/img/seminars.jpg')
        h3 Seminars
        p
          | Explaining your research in a simple and understandable way is a
          | professional necessity and the seminars series are unique venue for
          | students to practice these skills. 
          | The only constraint on the topic of
          | a talk is that it is of interest to other research students. This means
          | that a talk does not have to be about the speaker’s research project,
          | but could be work done during free time or other academic activities.
        p
          a.btn.btn-default(href='/events/') Learn more »
      .col-lg-4
        img.img-responsive(src='/img/events.jpg')
        h3 Events
        p
          | The kinds of activities a student chapter can undertake are diverse
          | and it is up to all of us, the chapter members, to decide and organise
          | activities that are useful and interesting. If you have an idea -
          | for a competition, a tutorial, a side tour, or something else -
          | raise your voice. The Chapter also has a small budget and might be able
          | to sponsor the event. You can find more information and
          | inspiration for chapter activities here.
        p
          a.btn.btn-default(href='/events/') Learn more »
  hr
  section#signup
    h2 Sign-up for updates 
      span.text-muted and never miss any event.
    p.lead Sign-up for details on how to get involved. 
    p
      | By subscribing to the announcement mailing list or following the chapter on social
      | networks, you will get notified on all upcoming chapter events.
    .row
      .col-lg-6
        .contact-form
          form(action='/signup-form.php', method='post', name='signup-form', role='form')
            .form-group
              input.form-control(type='email', name='email', id='signup-email', placeholder='Enter your email')
            button.btn.btn-default(type='submit') Sign up
