extends layout

block content
  !{ typogr(page.html).typogrify() }

block append scripts
    script.
      $(document).ready(function() {
        $('form[name=membership-form]').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                firstname: {
                    validators: {
                        notEmpty: {
                            message: 'Your first name is required and cannot be empty'
                        },
                    }
                },
                lastname: {
                    validators: {
                        notEmpty: {
                            message: 'Your last name is required and cannot be empty'
                        },
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Your email address is required and cannot be empty'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        },
                        regexp: {
                            regexp: /@(imperial\.ac\.uk|ic\.ac\.uk)$/,
                            message: 'The email must be an @imperial.ac.uk or @ic.ac.uk e-mail address'
                        }
                    }
                }
            }
        });
      });
    script(src='https://www.google.com/recaptcha/api.js')

