extends layout

block prepend title
  | #{page.title} - 

block subhead
  section.container
    h1 Talks
    p.lead
      | Learn about the research in industry from your peers.
    !{ typogr(page.html).typogrify() }

block content
  - var talks = _.chain(contents.talks._.directories).map(function(item) {
  -   return item.index
  - }).compact().groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var years = _.chain(talks).keys().reverse().value()
     
  .row
    section(role='main')
